body {
    font-family: sans-serif;
    margin: 0;
}

dt {
    font-weight: bold;
}

header {
    background-color: darkslateblue;
    color: white;
    padding: 0.2em 0.5em 0.5em;
}

header a {
    color: white;
    font-size: 80%;
}

header h1 {
    margin-bottom: 0;
    margin-top: 0.25em;
}

article {
    margin: 2em;
}

code {
    color: darkred;
    font-size: 110%;
    font-weight: bold;
}

.note {
    display: block;
    color: black;
    background: #dfd;
    margin-left: 2em;
    padding: 0.25em 3em;
    position: relative;
    font-size: 90%;
}

.note p:first-child {
    margin-top: 0;
}

.note p:last-child {
    margin-bottom: 0;
}

.note::before {
    font-style: normal;
    content: 'Note';
    background: green;
    color: white;
    padding: 0.15em 0.25em;
    font: 1em sans-serif;
    position: absolute;
    top: 0.2em;
    left: -2.25em;
    transform: rotate(-5deg);
}

.example {
    display: block;
    color: black;
    background: #def;
    margin-left: 3.75em;
    padding: 0.25em 3em;
    position: relative;
    font-size: 90%;
}

.example p:first-child {
    margin-top: 0;
}

.example p:last-child {
    margin-bottom: 0;
}

.example::before {
    font-style: normal;
    content: 'Example';
    background: darkblue;
    color: white;
    padding: 0.15em 0.25em;
    font: 1em sans-serif;
    position: absolute;
    top: 0.2em;
    left: -3em;
    transform: rotate(-5deg);
}

pre.example {
    padding-top: 1em;
}

.definition {
    color: black;
    background: #eee;
    margin-left: 2em;
    padding: 1em;
    position: relative;
}

pre.definition {
    font-size: 120%;
    line-height: 150%;
}

.terminal {
    color: darkblue;
}

.comment {
    font-style: italic;
}

table.top th, table.top td {
    vertical-align: top;
    padding: 0.5em
}

table.top pre {
    margin: 0;
    padding: 0
}

article h1 {
    margin: 2em -2em 1em -2em;
    padding: 0.5em 2em;
    background-color: dimgrey;
    color: white;
}

.robust {
    display: block;
    color: black;
    background: #fdd;
    margin-left: 2em;
    padding: 0.25em 3em;
    position: relative;
    font-size: 90%;
}

.robust p:first-child {
    margin-top: 0;
}

.robust p:last-child {
    margin-bottom: 0;
}

.robust::before {
    font-style: normal;
    content: 'Robust';
    background: darkred;
    color: white;
    padding: 0.15em 0.25em;
    font: 1em sans-serif;
    position: absolute;
    top: 0.2em;
    left: -2.25em;
    transform: rotate(-5deg);
}

.todo {
    display: block;
    color: white;
    background: darkviolet;
    margin-left: 2em;
    padding: 0.25em 3em;
    position: relative;
    font-size: 90%;
}

.todo p:first-child {
    margin-top: 0;
}

.todo p:last-child {
    margin-bottom: 0;
}

.todo::before {
    font-style: normal;
    content: 'Todo';
    background: black;
    color: white;
    padding: 0.15em 0.25em;
    font: 1em sans-serif;
    position: absolute;
    top: 0.2em;
    left: -2.25em;
    transform: rotate(-5deg);
}
